@media(max-width: 992px){
    .header-info{
        text-align: center;
    }
    .logo{
        margin-bottom: 0;
    }

    .btn{
        margin: 0 auto;
    }
}
@media(max-width: 768px){
    .navbar{
        text-align: center;
        background: var(--bg-green);
        position: relative;
        min-height: 50px;
    }

    .navbar-toggler{
        position:absolute;
        right: 0;
        top: .5rem;
    }
    .navbar-toggler:focus{
        outline: none;
        color: var(--primary);
    }

    .header-info{
        margin-top: 2rem;
    }

    /*menu */
    .menu-detail{
        display: none;
    }

    .btn-more-detail{
        display: block;
    }

    /*end menu*/

    .footer{
        text-align: center;
    }
    .footer .row{
        justify-content: center;
    }
    .footer .list li{
        text-align: center;
    }

}
@media(max-width: 576px){
    .point-right::before,
    .point-left::before{

        border-width: 0 7.5px 15px 7.5px;
        border-color: transparent transparent var(--primary) transparent;
        left: 50%;
        top: -14px;
    }
}