input {
	width: 90%;
	padding: 10px 30px;
	border: 1px solid var(--grey);
	margin: 10px;
	outline: none;
}

 input[type="email"] {
	background: url(../image/cd-icon-email.svg) no-repeat;
	background-position: 5px 7px;
}

input[type="password"] {
	background: url(../image/cd-icon-password.svg) no-repeat;
	background-position: 5px 7px;
}

input:active,
input:hover{
	border-color: var(--orange);
}

input[type="checkbox"]{
	text-align: left;
	width: 20px;
}

input[type="submit"] {
	color: var(--white);
	background: var(--orange);
	border:1px solid transparent;
	border-radius: 10px;
	cursor: pointer;
	text-transform: uppercase;
}
input[type="submit"]:hover{
	background: green;
}