*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}
/*variables*/
:root {
    --main-color: #008b8b;
    --second-color: #fafafa;

    --dark-color: #000000;
    --bg-color: #9e949430;
    --accent-color: #2546bc;

    --offset-s: 0.625rem;
    --offset-m: 1.25rem;
    --offset-l: 1.875rem;

}

html{
    scroll-behavior: smooth;
}
body{
   /* overflow: hidden;
    scroll-behavior: smooth;*/
    font-size: 16px;
    font-family: sans-serif;
}

a{
    color: inherit;
    text-decoration: none;
}

section{
    display: grid;
    grid-template-columns: 84px 1fr;
    height: 100vh;
    overflow: hidden;
    background: var(--bg-color);
}

.title{
    color: var(--second-color);
    font-weight: 900;
    font-size: 3.6rem;
}
.title:first-letter{
    font-size: 74px;
    color: #e08e8e;
}
.appear {
    animation: slideTop 2s ease-in-out;
}
@keyframes slideTop {
    0%{transform: translateY(-150%)}
    50%{transform: translateY(8%)}
    65%{transform: translateY(-4%)}
    80%{transform: translateX(4%)}
    100%{transform: translateX(0%)}
}
.subtitle{
    text-shadow: 4px 2px 3px var(--main-color);
    letter-spacing: .4rem;
    font-weight: 400;
    line-height: 20px;
    font-size: 1rem;
}
.wrapper{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}
.btn{
    font-weight: 700;
    border-radius: 4px;
    color: var(--second-color);
    background-color: var(--main-color);
    padding: var(--offset-s);
    box-shadow: 3px 3px 2px var(--main-color);
    border: none;
    cursor: pointer;
}
.btn:hover{
    color: var(--dark-color);
    transform: scale(1.2);
}

/*styling the side*/
.sidecontrol{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
    border-right: 1px solid rgba(0,0,0,.1);
    background: #fafafa;
}

.sidecontrol_controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: rotate(-90deg) translateX(-90px);
    min-width: 200px;
    position: relative;
}
.sidecontrol_controls span{
    display: block;
}
.sidecontrol_controls-show{
    width: 2rem;
    height: 2rem;
}
.sidecontrol_controls-show img:hover{
    transform: scale(1.5);
}

.sidecontrol_controls .next-arrow{
    width: 32px;
    height: 32px;
    transform: rotate(180deg);
}
.sidecontrol_controls .prev-arrow{
    width: 32px;
    height: 32px;
    transform: rotate(-180deg);
}

/*animation for arrow*/
.sidecontrol_controls .next-arrow{
    opacity: 0;
    text-align: center;
    animation: fadein 1s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1;}
}

/*tooltip for arrow*/
[data-tooltip]{
    position: relative;
}
[data-tooltip]::before{
    content: attr(data-tooltip);
    position: absolute;
    width: 100px;
    right: 7vh;
    top: 0;
    background: var(--main-color);
    color: var(--second-color);
    padding: 0.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
    pointer-events: none;
    transform: rotate(-180deg);
    transition: 1s;
}

/*section1*/
.menu-block{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px var(--offset-l);
    margin-bottom: var(--offset-s);
}
.logo{
    width: 40px;
    height: 40px;
}
.menu{
    min-width: 157px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu .btn{
    background-color: var(--accent-color);
}

/**/
.showup_intro{
    margin-left: var(--offset-l);
}

.showup_intro .title span{
    color: var(--accent-color);
}

.showup_intro .subtitle{
    opacity: .5;
}
.showup_intro .btn{
    margin: var(--offset-m) auto;
}
/**/
.showup_video{
    width: 48%;
    height: 100%;
    background: url("../img/video-bg.jpg") center center no-repeat;
    background-size: cover;
    position: relative;
}

.showup_author{
    position: absolute;
    top: var(--offset-m);
    left: var(--offset-l);
    cursor: pointer;
}

.showup_author-name{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--second-color);
}

.showup_author-name:first-letter{
    color: var(--main-color);
    text-transform: uppercase;
}

/*play block*/
.play{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 20vh;
    left: var(--offset-l);
    cursor: pointer;
}
.play_circle{
    position: relative;
    border-radius: 100%;
    background-color: var(--second-color);
    width: 68px;
    height: 68px;
}
.play_circle:hover{
    background: var(--main-color);
}
.play_circle img{
    width: 34px;
    height: 34px;
    position: absolute;
    left: 24%;
    top: 23%;
}
.play_circle img:hover{
    transform: scale(1.2);
}
.play_text{
    margin-left: var(--offset-m);
    color: var(--second-color);
    font-weight: 900;
    text-transform: uppercase;
}

.overlay{
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0,0,0, .8);
}
.video{
    width: 720px;
    height: 480px;
    position: relative;
}
.close{
    color: var(--second-color);
    font-size: 2.25rem;
    position: absolute;
    top: -27px;
    right: -25px;
    cursor: pointer;
}

/*slider zoom*/
.slider{
    position: absolute;
    bottom: 0;
    height: 44vh;
    max-width: 65%;
    overflow: hidden;
}

.slider .left-slide,
.slider .right-slide{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #444444;
    border-radius: 50%;
    color: var(--second-color);
    font-size: 1.2rem;
    top: 50%;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
}
.slider .left-slide{
    left: 30px;
}
.slider .right-slide{
    right: 30px;
}

.slider .left-slide:hover,
.slider .right-slide:hover{
    box-shadow: 0px 0px 10px var(--dark-color);
    background: var(--main-color);
}
.slider .slider-items .item img{
    max-width: 100%;
    object-fit: cover;
    display: block;
    animation: zoom 1s ease;
}
@keyframes zoom {
    0%{
        transform: scale(2);
        opacity: 0;
    }
    50%{
        transform: scale(2);
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
.slider .slider-items .item{
    display: none;
}
.slider .slider-items .item .caption{
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,.5);
    line-height: 60px;
    text-align: center;
    color: var(--second-color);
    font-size: 1.5rem;
}
.slider .slider-items .item.active{
    display: block;
}

/**/

/*section difference*/
.difference_info{
    width: 50%;
    height: 100%;
    background: var(--main-color);
    padding: var(--offset-s);
}
.difference_info-cards{
    display: flex;
    justify-content: space-between;
}
.difference_info-cards .officerold,
.difference_info-cards .officernew{
    width: 45%;
    height: 100%;
}
.difference_info-cards .officer_card-title{
    font-weight: 900;
    line-height: 34px;
    padding: var(--offset-s);
    font-size: 1.5rem;
    background: var(--second-color);
    border-radius: 8px;
    margin-top: calc(var(--offset-s) * 3);
    text-align: center;
}
.difference_info-cards .officer_card-title span{
    border-bottom: 2px dashed var(--accent-color);
    color: var(--accent-color);
}

.officer_card-item{
    display: flex;
    margin-top: calc(var(--offset-s)*2);
   /* min-height: 80px;*/
    height: 13vh;
    border-radius: 8px;
    background: var(--second-color);
}
.difference_info-cards
.officer_card-item
.card_counter{
    display: flex;
    justify-content: center;
    align-items: center;
    /*width: 83px;*/
    height: 100%;
    padding: 1rem;
    background: var(--second-color);
    border-radius: 8px 0 0 8px;
    border-right: 1px solid rgba(0,0,0,0.5);
    font-weight: 900;
    line-height: 34px;
    font-size: 1.5rem;
    color: rgba(109, 83, 175, .3);
    text-align: center;
}
.difference_info-cards
.officer_card-item
.card_descr{
    width: 100%;
    padding: calc(var(--offset-s)*2);
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    box-sizing: border-box;
}

/**/
.draggable-elements{
    width: 50%;
    height: 100%;
    padding: var(--offset-s);
    position: relative;
}

.answer_block{
    display: flex;
    flex-direction: column;
    margin-top: calc(var(--offset-s)*3);
}

.draggable{
    position: absolute;
    font-size: 2rem;
    padding: 5px;
    margin-bottom:var(--offset-s);
    border: 2px dashed var(--main-color);
    cursor: move;
}

.draggable:nth-child(1){
    transform: rotate(-15deg);
}

.draggable:nth-child(2){
    transform: rotate(25deg);
    border-color: var(--accent-color);
    right: 25px;
    bottom: 25px;
}

.draggable:nth-child(3){
    transform: rotate(-20deg);
    border-color: #e08e8e;
    left: 20px;
    bottom: 20px;
}
.draggable:nth-child(4){
    transform: rotate(65deg);
    border-color: var(--accent-color);
    right: 65px;
    top: 25vh;
}
.draggable:nth-child(5){
     transform: rotate(35deg);
    border-color: #e08e8e;
    left: 12vw;
    top: 50vh;
}
.draggable:nth-child(6){
    transform: rotate(45deg);
    right: 10vw;
    bottom: 30vh;
}

.draggable:hover{
    transform: scale(1.2);
}

.card_descr.dropped {
    background: rgba(109, 83, 175, .2);
    border-radius:  0 8px 8px 0;
}
.card_descr.dropped .draggable{
    transform: rotate(0deg);
    border: 0px;
}

/*section contact*/
.contact_info{
    width: 50%;
    text-align: center;
}
.contact_info-bg{
    background: url('../img/contact-bg.jpg') center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact_address{
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
}
.contact_address a{
    margin-top: calc(var(--offset-s) * 2);
}
.contact_address img{
    width: 4vw;
    height: 4vh;
    margin-right: var(--offset-s);
    vertical-align: middle;
}
.contact_address a span{
    font-size: 1.5rem;
    font-weight: 600;
}
.social_media{
    margin: var(--offset-s) auto;
}
/*styling the form*/
.form_schedule .title{
    margin-right: calc(var(--offset-s) * 2);
    font-size: 2.4rem;
}
.form_schedule .subtitle{
    text-align: center;
}
.form_schedule form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: calc(var(--offset-s) * 2) auto;
    width: 35vw;
    height: 70vh;
    box-shadow: 6px 4px 7px var(--main-color);

    position: relative;
    overflow: hidden;
    font-size: 1.5rem;
}
.form_schedule form fieldset{
    border: none;
}

.form_schedule form input{
    width: 100%;
    height: 100%;
    border: none;
    padding-top: calc(var(--offset-s) * 2);
    outline: none;
    font-size: 1.8rem;
    color: var(--main-color);
}

.form_schedule form input[type="text"]{
    background: var(--second-color) url('../img/form/user.svg') no-repeat right;
}
.form_schedule form input[type="email"]{
    background: var(--second-color) url('../img/form/mail.svg') no-repeat right 8px bottom 0px;
}

.form_schedule form label:not(.form-date label),
.form_schedule form label:not(.form-submit label){
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid var(--dark-color);
}

.form_schedule form .form-name,
.form_schedule form .form-mail,
.form_schedule form .form-date{
    position: relative;
}
.form_schedule form .form-date input{
    cursor: pointer;
}
.form_schedule form .form-date label {
    padding-left: calc(var(--offset-s)/ 2);
    padding-bottom: calc(var(--offset-s)/ 2);
}


.form_schedule form label:not(.form-date)::after,
.form_schedule form label:not(.form-submit)::after{
    content: '';
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid var(--main-color);
    transform: translateX(-100%);
    transition: all 0.3s ease;
}

.content-name{
    position: absolute;
    bottom: calc(var(--offset-s)/ 2);
    left: calc(var(--offset-s)/ 2);
    transition: all 0.3s ease;
}

.form_schedule form input:focus + .label-name .content-name,
.form_schedule form input:valid + .label-name .content-name{
    transform: translateY(-160%);
    font-size: 1rem;
    color: var(--main-color);
}

.form_schedule form input:focus + .label-name::after,
.form_schedule form input:valid + .label-name::after{
    transform: translateX(0%);
}

.form-submit button{
    background: var(--main-color);
    color: var(--second-color);
    padding: var(--offset-s) calc(var(--offset-s) * 2);
    margin: 0px var(--offset-s);
    border-radius: var(--offset-s);
    font-size: 1.5rem;
    border: none;
    outline: none;
    cursor: pointer;
}

/*style for checkbox*/
input[type="checkbox"]{
    display: none;
}
input[type="checkbox"] + label{
    font-size: 0.875rem;
    cursor: pointer;
}
input[type="checkbox"] + label:before{
    content: '\2714';
    border: 1px solid var(--main-color);
    border-radius: var(--offset-s);
    display: inline-block;
    width: 1rem;
    height: 1rem;
    padding: calc(var(--offset-s) / 2) calc(var(--offset-s) / 2) var(--offset-s)  var(--offset-s);
    margin-right: var(--offset-s);
    vertical-align: middle;
    color: transparent;
    transition: 0.2s;
}
input[type="checkbox"] + label:active:before{
    transform: scale(0);
}
input[type="checkbox"]:checked + label:before{
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: var(--second-color);
}
/**/
input[type="checkbox"]~label>a{
    font-weight: 600;
    border-bottom: 1px solid var(--main-color);
}