@media screen and (max-width: 768px){
	.container{
		padding: 0;
	}

	header nav ul{
		display: none;
	}

	.header-top{
		/*position: relative;*/
	}

	.menu-mob{
		display: block;
		width: 31px;
		height: 28px;
		/*position: fixed;*/
		position: absolute;
		right: 1.5em;
		top: 1.5em;
	}

	.menu-mob::before{
		content: url("../images/menu.svg");
	}
	nav.open .menu-mob::before{
		content: url("../images/m-close.svg");
	}

	header nav.open{
		width: 100%;
		background: rgba(233,233,233, 0.5);
		display: flex;
		justify-content: center;
	}
	header nav.open ul{
		display: flex;
    	flex-direction: column;
    	justify-content: center;
	}
	header nav.open ul li{
		margin-bottom: 1.2em;
	}

	.menu-back::before{
		top: 9px;
	}


	.banner-description{
		width: auto;
		text-align: center;
	}

	.row {
    	grid-template-columns: repeat(2, 1fr);
    	grid-template-rows: repeat(auto);
	}



	/*contact page*/
	.contact{
		display: flex;
		justify-content: center;
		align-items: start;
		flex-direction: column;
		text-align: center;
	}

	.contact-info{
		width: 100%;
	}

	.contact form{
		margin: var(--xs-offset) auto;
		width: 70%;
	}

	footer{
		flex-wrap: wrap;
	}
}

@media screen and (max-width: 414px){
	.header-top{
		position: relative;
	}
	.banner-logo {
    	display: none;
    }
    
    .popup-body form input{
    	width: auto;
    }

	.counter-wrap{
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-row-gap: var(--xs-offset);
	}
	.row {
    	grid-template-columns: repeat(1, 1fr);
	}

	.projects-content {
    	grid-template-columns: repeat(1, 1fr);
	}

	#arrow-prev span,
	#arrow-next span{
		display: none;
	}

	.contact-info {
    	padding:0 var(--s-offset);
	}

	.services {
    	grid-template-columns: repeat(2, 1fr);
    }

    .slide-content span{
    	font-size: 2em;
    }
}