@media screen and (max-width: 768px){
    nav ul {
        display: none;
    }
    .menu-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 80px;
        height: 80px;
        transition: all .5s ease-in-out;
        cursor: pointer;
        /*border: 3px solid #ffffff;*/
        margin-right: 10px;
        margin-top: 10px;

    }
    .menu-btn_burger{
        width: 50px;
        height: 6px;
        background: #ffffff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
        transition: all .5s ease-in-out;
    }
    .menu-btn_burger::before,
    .menu-btn_burger::after{
        content: '';
        position: absolute;
        width: 50px;
        height: 6px;
        background: #ffffff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
        transition: all .5s ease-in-out;
    }
    .menu-btn_burger::before{
        transform: translateY(-16px);
    }
    .menu-btn_burger::after{
        transform: translateY(16px);
    }

    /*animation X*/
    .menu-btn.open .menu-btn_burger{
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
    }
    .menu-btn.open .menu-btn_burger::before{
        transform: rotate(45deg) translate(35px, -35px);
    }
    .menu-btn.open .menu-btn_burger::after{
        transform: rotate(-45deg) translate(35px, 35px);
    }

    /**/
    .menu-btn.open > nav ul{
        display: block;
    }
}